@font-face {
  font-family: 'Neue Haas Unica Pro UltraLight';
  src: url('NeueHaasUnicaPro-UltLightIt.eot'); /* IE9 Compat Modes */
  src: url('NeueHaasUnicaPro-UltLightIt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('NeueHaasUnicaPro-UltLightIt.woff') format('woff'), /* Modern Browsers */
       url('NeueHaasUnicaPro-UltLightIt.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('NeueHaasUnicaPro-UltLightIt.svg#e6285624ca1526588487902e57112092') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Neue Haas Unica Pro UltraLight';
  src: url('NeueHaasUnicaPro-UltraLight.eot'); /* IE9 Compat Modes */
  src: url('NeueHaasUnicaPro-UltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('NeueHaasUnicaPro-UltraLight.woff') format('woff'), /* Modern Browsers */
       url('NeueHaasUnicaPro-UltraLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('NeueHaasUnicaPro-UltraLight.svg#dc66c70be391b1fd4fc6f74ded2e18dc') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Neue Haas Unica Pro XBlack';
  src: url('NeueHaasUnicaPro-XBlack.eot'); /* IE9 Compat Modes */
  src: url('NeueHaasUnicaPro-XBlack.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('NeueHaasUnicaPro-XBlack.woff') format('woff'), /* Modern Browsers */
       url('NeueHaasUnicaPro-XBlack.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('NeueHaasUnicaPro-XBlack.svg#8ce45e7e2f6472b67a907dbe9e63e78e') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Neue Haas Unica Pro XBlack';
  src: url('NeueHaasUnicaPro-XBlackIt.eot'); /* IE9 Compat Modes */
  src: url('NeueHaasUnicaPro-XBlackIt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('NeueHaasUnicaPro-XBlackIt.woff') format('woff'), /* Modern Browsers */
       url('NeueHaasUnicaPro-XBlackIt.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('NeueHaasUnicaPro-XBlackIt.svg#b8f1aebc5aed6976076a09ce3c6df259') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Neue Haas Unica W1G Black';
  src: url('NeueHaasUnicaW1G-Black.eot'); /* IE9 Compat Modes */
  src: url('NeueHaasUnicaW1G-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('NeueHaasUnicaW1G-Black.woff') format('woff'), /* Modern Browsers */
       url('NeueHaasUnicaW1G-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('NeueHaasUnicaW1G-Black.svg#0bb89c2de33308c3c7b0eb70f380c023') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Neue Haas Unica W1G Black';
  src: url('NeueHaasUnicaW1G-BlackIt.eot'); /* IE9 Compat Modes */
  src: url('NeueHaasUnicaW1G-BlackIt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('NeueHaasUnicaW1G-BlackIt.woff') format('woff'), /* Modern Browsers */
       url('NeueHaasUnicaW1G-BlackIt.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('NeueHaasUnicaW1G-BlackIt.svg#69a8cb4bc6ffa1124001fae39304cb21') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Neue Haas Unica W1G';
  src: url('NeueHaasUnicaW1G-Bold.eot'); /* IE9 Compat Modes */
  src: url('NeueHaasUnicaW1G-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('NeueHaasUnicaW1G-Bold.woff') format('woff'), /* Modern Browsers */
       url('NeueHaasUnicaW1G-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('NeueHaasUnicaW1G-Bold.svg#684db51384b8d74cdadbb18fdbc9cf89') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Neue Haas Unica W1G';
  src: url('NeueHaasUnicaW1G-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('NeueHaasUnicaW1G-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('NeueHaasUnicaW1G-BoldItalic.woff') format('woff'), /* Modern Browsers */
       url('NeueHaasUnicaW1G-BoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('NeueHaasUnicaW1G-BoldItalic.svg#8660e66e2924e5f5ec959e039eef227b') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  700;
}

@font-face {
  font-family: 'Neue Haas Unica W1G Heavy';
  src: url('NeueHaasUnicaW1G-Heavy.eot'); /* IE9 Compat Modes */
  src: url('NeueHaasUnicaW1G-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('NeueHaasUnicaW1G-Heavy.woff') format('woff'), /* Modern Browsers */
       url('NeueHaasUnicaW1G-Heavy.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('NeueHaasUnicaW1G-Heavy.svg#37f0fdf5b54e62273ee9997c9983c0c8') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Neue Haas Unica W1G Heavy';
  src: url('NeueHaasUnicaW1G-HeavyIt.eot'); /* IE9 Compat Modes */
  src: url('NeueHaasUnicaW1G-HeavyIt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('NeueHaasUnicaW1G-HeavyIt.woff') format('woff'), /* Modern Browsers */
       url('NeueHaasUnicaW1G-HeavyIt.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('NeueHaasUnicaW1G-HeavyIt.svg#5269d12dc0019b420d7a70ab37f185dc') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Neue Haas Unica W1G';
  src: url('NeueHaasUnicaW1G-Italic.eot'); /* IE9 Compat Modes */
  src: url('NeueHaasUnicaW1G-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('NeueHaasUnicaW1G-Italic.woff') format('woff'), /* Modern Browsers */
       url('NeueHaasUnicaW1G-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('NeueHaasUnicaW1G-Italic.svg#932ba5a6a60507aa2e77eb5d52b1001c') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'Neue Haas Unica W1G Light';
  src: url('NeueHaasUnicaW1G-Light.eot'); /* IE9 Compat Modes */
  src: url('NeueHaasUnicaW1G-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('NeueHaasUnicaW1G-Light.woff') format('woff'), /* Modern Browsers */
       url('NeueHaasUnicaW1G-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('NeueHaasUnicaW1G-Light.svg#5c2019fefd59d9a172e06647e11c7a4d') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Neue Haas Unica W1G Light';
  src: url('NeueHaasUnicaW1G-LightIt.eot'); /* IE9 Compat Modes */
  src: url('NeueHaasUnicaW1G-LightIt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('NeueHaasUnicaW1G-LightIt.woff') format('woff'), /* Modern Browsers */
       url('NeueHaasUnicaW1G-LightIt.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('NeueHaasUnicaW1G-LightIt.svg#979873f2cfeeca879b9881ec9737095a') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Neue Haas Unica W1G Medium';
  src: url('NeueHaasUnicaW1G-Medium.eot'); /* IE9 Compat Modes */
  src: url('NeueHaasUnicaW1G-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('NeueHaasUnicaW1G-Medium.woff') format('woff'), /* Modern Browsers */
       url('NeueHaasUnicaW1G-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('NeueHaasUnicaW1G-Medium.svg#dbd431fc9e2ac61244369c6cb4f7fc77') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Neue Haas Unica W1G Medium';
  src: url('NeueHaasUnicaW1G-MediumIt.eot'); /* IE9 Compat Modes */
  src: url('NeueHaasUnicaW1G-MediumIt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('NeueHaasUnicaW1G-MediumIt.woff') format('woff'), /* Modern Browsers */
       url('NeueHaasUnicaW1G-MediumIt.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('NeueHaasUnicaW1G-MediumIt.svg#f1886ed3f4201a9b1f9ba485f5b05110') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Neue Haas Unica W1G';
  src: url('NeueHaasUnicaW1G-Regular.eot'); /* IE9 Compat Modes */
  src: url('NeueHaasUnicaW1G-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('NeueHaasUnicaW1G-Regular.woff') format('woff'), /* Modern Browsers */
       url('NeueHaasUnicaW1G-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('NeueHaasUnicaW1G-Regular.svg#620a82e875e64c00a49cf19f0ef7c9bf') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Neue Haas Unica W1G Thin';
  src: url('NeueHaasUnicaW1G-Thin.eot'); /* IE9 Compat Modes */
  src: url('NeueHaasUnicaW1G-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('NeueHaasUnicaW1G-Thin.woff') format('woff'), /* Modern Browsers */
       url('NeueHaasUnicaW1G-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('NeueHaasUnicaW1G-Thin.svg#b70b171b0d3a8a5db34563eb8d401020') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Neue Haas Unica W1G Thin';
  src: url('NeueHaasUnicaW1G-ThinItalic.eot'); /* IE9 Compat Modes */
  src: url('NeueHaasUnicaW1G-ThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('NeueHaasUnicaW1G-ThinItalic.woff') format('woff'), /* Modern Browsers */
       url('NeueHaasUnicaW1G-ThinItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('NeueHaasUnicaW1G-ThinItalic.svg#8f907d282c60fd802a151771a56209c7') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  200;
}

@font-face {
  font-family: 'Neue Haas Unica W1G UltraLight';
  src: url('NeueHaasUnicaW1G-UltLightIt.eot'); /* IE9 Compat Modes */
  src: url('NeueHaasUnicaW1G-UltLightIt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('NeueHaasUnicaW1G-UltLightIt.woff') format('woff'), /* Modern Browsers */
       url('NeueHaasUnicaW1G-UltLightIt.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('NeueHaasUnicaW1G-UltLightIt.svg#e0b42524962a7c1c9b464f451eb289ef') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Neue Haas Unica W1G UltraLight';
  src: url('NeueHaasUnicaW1G-UltraLight.eot'); /* IE9 Compat Modes */
  src: url('NeueHaasUnicaW1G-UltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('NeueHaasUnicaW1G-UltraLight.woff') format('woff'), /* Modern Browsers */
       url('NeueHaasUnicaW1G-UltraLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('NeueHaasUnicaW1G-UltraLight.svg#701efeddeb3f8ab0c257909d0be32d8b') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Neue Haas Unica W1G XBlack';
  src: url('NeueHaasUnicaW1G-XBlack.eot'); /* IE9 Compat Modes */
  src: url('NeueHaasUnicaW1G-XBlack.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('NeueHaasUnicaW1G-XBlack.woff') format('woff'), /* Modern Browsers */
       url('NeueHaasUnicaW1G-XBlack.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('NeueHaasUnicaW1G-XBlack.svg#fa328e79db17c530857a8c24bcea177f') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Neue Haas Unica W1G XBlack';
  src: url('NeueHaasUnicaW1G-XBlack-It.eot'); /* IE9 Compat Modes */
  src: url('NeueHaasUnicaW1G-XBlack-It.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('NeueHaasUnicaW1G-XBlack-It.woff') format('woff'), /* Modern Browsers */
       url('NeueHaasUnicaW1G-XBlack-It.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('NeueHaasUnicaW1G-XBlack-It.svg#48f6ac52e09f94708b7a11d49c549638') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

